
@{
    ViewBag.Title = "Already Assigned";
}

<div class="row">

</div>
    <div class="row">
        <div class="offset-s3 col s6 z-depth-3">
            <p class="center">You have already assigned to this course!</p>
            <p class="center"><a href="~/Course/Index">Return to Courses</a></p>
        </div>
    </div>

