
@{
    ViewBag.Title = "Index";
}
<div class="row"></div>
    <div class="row">
        <div class="offset-s1 col s10 z-depth-3">
            <p class="center"><strong>Error! </strong>@ViewBag.msg</p>
            <p class="center">Please Contact to Admin or Support.</p>
        </div>
    </div>

