
@{
    ViewBag.Title = "NotFound";
}

<div class="row"></div>
<div class="row">
    <div class="offset-s1 col s10 z-depth-3">
        <p class="center"><strong>Error! </strong>Not Found</p>
    </div>
</div>

